html, body {
	font: 16px sans-serif;
	background: white;
	margin: 0
}

body {
	margin: 10px auto;
	width: 1275px;
	height: 467px;
	padding: 5px;
	border: 1px solid black;
}

header {
	text-align: right;
	margin-bottom: 5px;
}

.loggedin #list, .loggedin #info, .loggedin #editor, .loggedin button.logout, .loggedin #user {
	display: inline-block
}

.loggedin button.login, button.logout {
	display: none
}

#user {
	display: none;
	height: 30px;
	vertical-align: top;
}

#user * {
	vertical-align: middle;
	line-height: 30px;
}

#user .picture {
	font-size: 30px;
}

#list, #info, #editor {
	display: none;
	border: 1px solid black;
	vertical-align: top;
	background: linear-gradient(white, lightgray);
	margin: 0;
	padding: 10px;
	width: 400px;
	min-height: 410px;
}

#info h2 {
	margin: 0 0 10px 0;
	font-size: 30px;
}

li {
	list-style: none;
}

a {
	color: blue
}

input, textarea {
	width: 100%;
	box-sizing: border-box
}

textarea {
	height: 280px;
}

input, textarea {
	font-size: 16px;
	margin: 0 0 10px 0
}

button {
	font-size: 16px;
	width: 130px;
	height: 30px;
	box-sizing: border-box;
	padding: 0;
	display: none
}

button.login,
.scope-write button.save,
.scope-write button.clear,
.scope-delete button.delete {
	display: inline-block
}

button.clear::before {
	content: "🧹 Clear"
}

button.save::before {
	content: "💾 Save"
}

button.delete::before {
	content: "🗑 Delete"
}

button.login::before {
	content: "👤 Login"
}

button.logout::before {
	content: "🚪 Logout"
}
